/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*################################
  Layout */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Noto Sans SC', serif;
  display: flex;
  flex-direction: column;
  background-color: white;
  color: #2a2a2a;
}

#toolbar {
  height: 35px;
  line-height: 35px;
  padding: 3px 0;
  width: 100%;
  background-color: #eee;
  box-shadow: 0 1px 5px #ccc;
  text-align: center;
  font-family: Arial, sans-serif;
}
#toolbar #about-link {
  position: absolute;
  top: 3px;
  right: 10px;
  text-decoration: none;
  color: #00A;
}
#toolbar #about-link:hover {
  text-decoration: underline;
}
#toolbar .toolbar-sep {
  display: inline-block;
  width: 2em;
}
#toolbar button {
  margin: 0 3px;
  padding: 4px 12px;
  font-size: 100%;
  background-color: #ccc;
  border: none;
  cursor: pointer;
  font-family: Arial, sans-serif;
  border-radius: 5px;
  height: 1.7em;
}
#toolbar button.selected {
  background-color: #eaa;
}

#wrapper {
  height: 0;
  flex: 1 1 auto;
  width: 100%;
  font-size: 28px;
  display: flex;
  flex-direction: row;
}
#chars-pane {
  flex: 1 1 60%;
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
#words-pane {
  flex: 1 1 40%;
  overflow-y: scroll;
}

/*################################
  Grid */

#chars-pane .grid-section {
  margin: 30px 0;
}
#chars-pane p {
  margin: 5px 0;
}
#chars-pane p.grid-section-title {
  font-weight: bold;
  text-align: center;
  margin: 10px 0;
}
#chars-pane i {
  display: inline-block;
  margin: 1px;
  cursor: pointer;
  border: 2px solid transparent;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
#chars-pane i.flash {
  background-color: yellow;
}
#chars-pane i:hover{
  border: 2px solid pink;
}
#chars-pane i.selected {
  border: 2px solid red;
}

#chars-pane i {
  color: #cccccf;
}
#chars-pane.f-hsk1 i.h1,
#chars-pane.f-hsk2 i.h1,
#chars-pane.f-hsk2 i.h2,
#chars-pane.f-hsk3 i.h1,
#chars-pane.f-hsk3 i.h2,
#chars-pane.f-hsk3 i.h3,
#chars-pane.f-hsk4 i.h1,
#chars-pane.f-hsk4 i.h2,
#chars-pane.f-hsk4 i.h3,
#chars-pane.f-hsk4 i.h4,
#chars-pane.f-hsk5 i.h1,
#chars-pane.f-hsk5 i.h2,
#chars-pane.f-hsk5 i.h3,
#chars-pane.f-hsk5 i.h4,
#chars-pane.f-hsk5 i.h5,
#chars-pane.f-hsk6 i.h1,
#chars-pane.f-hsk6 i.h2,
#chars-pane.f-hsk6 i.h3,
#chars-pane.f-hsk6 i.h4,
#chars-pane.f-hsk6 i.h5,
#chars-pane.f-hsk6 i.h6,
#chars-pane.f-hsk7 i.h1,
#chars-pane.f-hsk7 i.h2,
#chars-pane.f-hsk7 i.h3,
#chars-pane.f-hsk7 i.h4,
#chars-pane.f-hsk7 i.h5,
#chars-pane.f-hsk7 i.h6,
#chars-pane.f-hsk7 i.h7,
#chars-pane.f-book1k i.hB,
#chars-pane.f-movie1k i.hM,
#chars-pane.f-common i,
#chars-pane.f-all i {
  color: #2a2a2a;
}
#chars-pane.f-common i.hUC {
  color: #cccccf;
}

/*################################
  Character Info + Vocab */

#words-pane .char-info {
  margin: 10px auto;
  text-align: center;
}
#words-pane .char-img {
  border: 1px solid #bbb;
}

#words-pane .words-list {
  margin: 15px 0;
}
#words-pane .entry {
  margin-bottom: .6em;
}
#words-pane .entry p {
  line-height: 1.4;
}
#words-pane .level {
  width: 30px;
  font-size: 80%;
  display: inline-block;
  text-align: right;
  padding-right: 20px;
}
#words-pane .wc {
  cursor: pointer;
}
#words-pane .pron {
  font-size: 80%;
  padding: 0 20px;
}
#words-pane .gloss {
  font-size: 60%;
  padding-left: 50px;
  padding-right: 10px;
}
#words-pane .vx {
  color: #cccccf;
}
