html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: #2a2a2a;
}

#toolbar {
  height: 35px;
  line-height: 35px;
  padding: 3px 0;
  width: 100%;
  background-color: #eee;
  box-shadow: 0 1px 5px #ccc;
  text-align: center;
  font-family: Arial, sans-serif;
}
#toolbar #about-link {
  position: absolute;
  top: 3px;
  right: 10px;
  text-decoration: none;
  color: #00A;
}
#toolbar #about-link:hover {
  text-decoration: underline;
}
#toolbar .toolbar-sep {
  display: inline-block;
  width: 2em;
}
#toolbar button {
  margin: 0 3px;
  padding: 4px 12px;
  font-size: 100%;
  background-color: #ccc;
  border: none;
  cursor: pointer;
  font-family: Arial, sans-serif;
  border-radius: 5px;
  height: 1.7em;
}
#toolbar button.selected {
  background-color: #eaa;
}

#wrapper {
  height: 0;
  flex: 1 1 auto;
  width: 100%;
  font-size: 28px;
  display: flex;
  flex-direction: row;
}
#chars-pane {
  flex: 1 1 60%;
  overflow-y: scroll;
}
#words-pane {
  flex: 1 1 40%;
  overflow-y: scroll;
}

#chars-pane table {
  margin: 15px auto;
}
#chars-pane th {
  text-align: right;
  padding-right: 10px;
}
#chars-pane td {
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
  border: 2px solid transparent;
}
#chars-pane td.flash {
  background-color: yellow;
}
#chars-pane td:hover{
  border: 2px solid pink;
}
#chars-pane td.selected {
  border: 2px solid red;
}

#words-pane .char-info {
  margin: 10px auto;
  text-align: center;
}
#words-pane .char-img {
  border: 1px solid #bbb;
}

#words-pane .words-list {
  margin: 15px 0;
}
#words-pane .level {
  width: 30px;
  font-size: 80%;
  display: inline-block;
  text-align: right;
  padding-right: 20px;
}
#words-pane .wc {
  cursor: pointer;
}
#words-pane .pron {
  font-size: 80%;
  padding: 0 20px;
}
#words-pane .gloss {
  font-size: 60%;
  padding: 0 30px 10px;
}

#chars-pane td {
  color: #ddd;
}
#chars-pane.f-hsk1 .h1,
#chars-pane.f-hsk2 .h1,
#chars-pane.f-hsk2 .h2,
#chars-pane.f-hsk3 .h1,
#chars-pane.f-hsk3 .h2,
#chars-pane.f-hsk3 .h3,
#chars-pane.f-hsk4 .h1,
#chars-pane.f-hsk4 .h2,
#chars-pane.f-hsk4 .h3,
#chars-pane.f-hsk4 .h4,
#chars-pane.f-hsk5 .h1,
#chars-pane.f-hsk5 .h2,
#chars-pane.f-hsk5 .h3,
#chars-pane.f-hsk5 .h4,
#chars-pane.f-hsk5 .h5,
#chars-pane.f-hsk6 .h1,
#chars-pane.f-hsk6 .h2,
#chars-pane.f-hsk6 .h3,
#chars-pane.f-hsk6 .h4,
#chars-pane.f-hsk6 .h5,
#chars-pane.f-hsk6 .h6,
#chars-pane.f-book1k .hB,
#chars-pane.f-movie1k .hM,
#chars-pane.f-common td,
#chars-pane.f-all td {
  color: #2a2a2a;
}
#chars-pane.f-common .hUC {
  color: #ddd;
}
